.big_title {
    color           : #eeeeee;
    font-size       : 4em;
    vertical-align  : middle;
    font-family: 'Roboto Condensed', sans-serif;
}

.little_title {
   color           : #eeeeee;
    font-size       : 2em;
    vertical-align  : middle;
    font-family: 'Roboto Condensed', sans-serif;
    clear: both;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.center {
    width: 800px;
}